files:
  "/etc/php.d/dev-php.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      expose_php=Off
      html_errors=Off
      error_reporting=E_ERROR | E_CORE_ERROR | E_COMPILE_ERROR | E_PARSE
      display_errors=On
      display_startup_errors = Off
      log_errors = On
      log_errors_max_len = 2048
      ignore_repeated_errors = Off
      ignore_repeated_source = Off
      report_memleaks = On
      ;track_errors = Off
      error_log = syslog
      date.timezone="Asia/Tokyo"
      ;allow_url_include = On
      short_open_tag = On
